/* Styles for larger screens */
@media (min-width: 1200px) {
    .bigBox {
      transform: translateY(-440px);
      height: 1px;
      margin-top: 60px;
    }
  
    .image {
      border: 5px solid silver;
      margin-left: 30px;
      border-radius: 10px;
      width: 270px;
    }
  
    .h2 {
      font-size: 30px;
      font-weight: 700;
      color: silver;
      transform: translateY(-30px);
    }
  }
  
  /* Styles for mobile screens */
  @media (min-width: 220px) and (max-width: 950px) {
    .bigBox {
      margin-top: 80px;
      background-color: white;
    }
  
    .image {
      border: 5px solid silver;
      margin-left: 30px;
      border-radius: 10px;
      width: 270px;
    }
  
    .h2 {
      font-size: 28px;
      font-weight: 700;
      color: silver;
      transform: translateY(-3px);
    }
  }
  