/* Styles for larger screens */
@media (min-width: 1200px) and (max-width: 7777px) {
    .bigBox {
      position: sticky;
      top: 0;
      width: 100%;
      background-color: #333;
      z-index: 1000;
      box-shadow: gray;
      border: 1px solid white;
    }

    .txt{
      color: rgb(255, 255, 255);
      font-size: 1px;
      margin-left: 40px;
      transform: translateY(30px);
      color: silver;
    }
  
    .vl {
      border-left: 1px solid white;
      height: 115px;
      position: absolute;
      left: 27%;
      margin-left: -3px;
      top: 0;
    }
  
    .box {
      height: 115px;
      width: 100%;
      background-color: silver;
    }
  
    .navList {
      display: flex;
      list-style: none;
      color: rgb(255, 255, 255);
      font-size: 18px;
      font-weight: 700;
      margin-left: 500px;
      transform: translateY(-80px);
      gap: 20px;
    }
  
    .p {
      font-weight: 600;
      margin-top: 5px;
      cursor: pointer;
    }
  
    .logo {
      margin-left: 100px;
      border-radius: 20px;
      margin-top: 3px;
      border-radius: 150px;
    }
  }
  
  /* Styles for mobile screens */
  @media (min-width: 220px) and (max-width: 950px) {
    .bigBox {
      
      top: 0;
      width: 100%;
      background-color: #333;
      z-index: 1000;
      box-shadow: rgb(132, 132, 132);
      border: 1px solid white;
      height: 100px;
    }
    .txt{
      color: rgb(255, 255, 255);
      margin-left: 25px;
      transform: translateY(50px);
      font-size: 15px;
    }
  
    .vl {
      border-left: 1px solid white;
      height: 134.7px;
      position: absolute;
      left: 27%;
      margin-left: 75px;
      top: 0;
    }
  
    .box {
      height: 100px;
      width: 100%;
      background-color: silver;
    }
  
    .logo {
      height: 90px;
      width: 150px;
      margin-left: 20px;
      margin-top: 5px;
      border-radius: 70px;
    }
  
    .navList {
      display: flex;
      list-style: none;
      color: white;
      font-size: 1px;
      font-weight: 700;
      margin-left: -40px;
      transform: translateY(160px);
    }
  
    .p {
      font-weight: 600;
      margin-top: 5px;
    }
  }
  